<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Laba_4_2_OOP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Laba_4_2_OOP.Properties.Settings>
            <setting name="n" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="numericUpDown2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="numericUpDown3" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="textBox1" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="textBox2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="textBox3" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="trackBar1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="trackBar2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="trackBar3" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="A" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="C" serializeAs="String">
                <value>0</value>
            </setting>
        </Laba_4_2_OOP.Properties.Settings>
    </userSettings>
</configuration>